{% if news is not empty %}
    <section class="our-works">
    <h2>Примеры работ</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 our-works__image">
                <div class="our-works__slider_img">
                    <img loading="lazy" src="/images/news/{{ news[0].alias }}/image.jpg" alt="">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 our-works__text">
                <div class="our-works__slider_content">
                    {% for newsItem in news %}
                        <div data-image="{{ newsItem.alias }}/{{ newsItem.image }}">
                        <span class="our-works__slider_content_title">
                            <a href="/news/{{ newsItem.alias }}"> {{ newsItem.h1 }}</a>
                        </span>
                        <span class="our-works__slider_content_subtitle">
                            Что было сделано:
                        </span>
                        <div class="our-works__slider_content_text">
                            {{ newsItem.shortText|raw }}
                        </div>
                            <div class="our-works__slider_image_mobile">
                                <div class="our-works__slider_img">
                                    <img loading="lazy" src="/images/news/{{ news[0].alias }}/image.jpg" alt="">
                                </div>
                            </div>
                    </div>
                    {% endfor %}

                </div>

                <div class="our-works__consult">
                    <span>Получить бесплатную консультацию</span>
                    <div class="request-form__btn">
                        <a href="#form-popup1" class="about_send_btn">Отправить</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
{% endif %}
